@charset "UTF-8";
/* 
 em HTML é id = em CSS é # (só pode um elemento)
 em HTML é class =  em CSS é . (pode varios elementos)
*/
body{
    background-color: #f0cb1165;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #098256;
}

h1#principal {
    text-align: center;
    background-color: #F0CC11;
    color: white;
}

h2 {
    color: #549429;
}

.basico {
 color: #549429
}

.intermediario {
color: #942929
}

.avancado {
color: #098062
}

.destaque {
    background-color: rgba(88, 103, 116, 0.445);
}