@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 80px 40px 1fr 40px;
    gap: 5px;
}

.caixa {
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
}

#topo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#menu {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#principal {
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 2; 
}

#secundario {
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 2;
   grid-column-end: 3;  
}

#rodape {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
