@charset 'UTF-8';

/*
    grid template = grid-template-rows + grid-template-columns
    place items =  align-items + justify-items
    place content = align-content + justify-content
    align = vertical
    justife = horizontal

    Shorthands para itens:
    grid-row: grid-row-start / grid-row-end
    grid-column: grid-column-start / grid-column-end
    grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end
*/
div.container {
    border: 3px solid blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
div.caixa1 {
    background-color: red;
    border: 3px solid rgb(255, 136, 0);
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}
div.caixa2 {
    background-color: blue;
    border: 3px solid rgb(0, 153, 255);
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}
div.caixa3 {
    background-color: yellow;
    border: 3px solid green;
    grid-row: 2 / 4;
    grid-column: 3 / 5;
}